[submodule "SDL"]
	path = sdl
	url = https://github.com/libsdl-org/SDL.git
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
[submodule "nativefiledialog-extended"]
	path = nativefiledialog-extended
	url = https://github.com/btzy/nativefiledialog-extended.git
[submodule "stb"]
	path = stb
	url = https://github.com/nothings/stb.git
